.profile {
  background-color: rgb(199, 204, 208);

  padding: 60px;
}

.description {
  background-color: rgb(255, 255, 255);
  max-width: 500px;
  width: 90%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  margin: 0 auto;

  padding: 20px;

  box-shadow: 0px 0px 45px -12px rgba(119, 126, 131, 0.49);
}

.avatar {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  background-color: antiquewhite;
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
}

.tag {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  color: #4b4b4b;
}

.location {
  font-size: 1.3rem;
  font-weight: 400;
  color: #4b4b4b;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 500px;
  width: 90%;

  margin: 0 auto;

  background-color: #f5f5f5;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stats li {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.label {
  font-size: 0.9rem;
  color: #555;
}

.quantity {
  font-size: 1.2rem;
  font-weight: 600;
  color: #222;
}
