.item {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;

  background: white;
  border-radius: 12px;

  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.25);
}
.icon {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}

.online {
  color: rgb(11, 115, 11);
}

.offline {
  color: rgb(173, 14, 14);
}

.avatar {
  width: 100%;
  max-width: 100px;
  border-radius: 25%;
  background-color: antiquewhite;
}
.name {
  font-size: 1.8rem;
  font-weight: 400;
}
